@import "./constants.scss";

.menuHeads {
  background-color: transparent;
  position: absolute;
}

.tarjetMenu {
  background: transparent
    linear-gradient(
      180deg,
      $backgroundColorPrimary 0%,
      $backgroundColorSecondary 100%
    )
    0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 9px #8395a766;
  border-radius: 10px;
  opacity: 1;
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
  margin-right: 14px;
  contain: content;

  &__imgMenu {
    margin-top: 13.83px;
    width: 31px;
    height: 33px;
  }

  &__foodMenu {
    text-align: center;
    font: normal normal medium 13px/20px $Fuente2;
    letter-spacing: 0px;
    color: $secondaryColor;
    opacity: 1;
    bottom: 8.74px;
    position: absolute;
  }
}

@media (max-width: 428px) {
  .menuHeads {
    display: flex;
    top: 280px;
    flex-wrap: wrap;
    left: 30.9px;
  }

  .tarjetMenu {
    width: 114px;
    height: 92px;
    margin-bottom: 15px;
  }
}

@media (min-width: 429px) and (max-width: 768px) {
  .menuHeads {
    display: flex;
    top: 288px;
    left: 20px;
  }

  .tarjetMenu {
    width: 106px;
    height: 85px;
  }
}

@media (min-width: 769px) {
  .menuHeads {
    display: none;
  }
}
